.Footer
  background-color black
  color white
  // position: absolute
  // right 0
  // left 0
  // top 110vh
  display flex
  justify-content: space-between
  align-items: center
  padding 1rem
  // font-family: Roboto
  font-weight: 300
  box-sizing: content-box
  max-height: 150px
  z-index: 30
  a 
    color grey
    text-decoration: none
  a:hover
    text-decoration: underline
    
  small
    display: block
    margin-bottom .2rem 
  &-left 
    height: 100%
    display: flex
    flex-direction: column 
    justify-content: space-between
  &-title 
    display flex
    margin-bottom .5rem
    span 
      align-self: center 
      font-size: 2rem
      background-color white
      margin-left 5px
    h1
      margin-left .5rem
  &-center
    display none
    h3 
      margin-bottom .5rem
    ul 
      display flex
      margin-right .5rem
      flex-direction: column
      flex-wrap: wrap
      height: 150px
    li 
      margin-bottom 5px
      margin-right 1rem
    a 
      font-size: .8rem
      font-weight: 400    
  &-map
    display: flex
  &-social
    // margin-bottom .5rem
    h3 
      margin-bottom .5rem
    a 
      font-size: 2rem
      margin-left 1.5rem
    a:hover
      text-decoration: none

    ul
      width 50%
      display flex
      justify-content: space-between
      
    li 
      // margin-left 1rem
      margin-bottom .5rem
      .icon-github
        color white
      .icon-linkedin
        color linkedin
      .icon-twitter
        color twitter
      .icon-google-plus2
        color google
      .icon-facebook2
        color facebook
      .icon-skype
        color skype
      .icon-youtube
        color youtube
  &-leyend
    p 
      width  250px
      margin 0
      padding 0
      color grey
      display none
      


@media (min-width: 700px)
  .Footer
    &-center
    &-leyend
      display block
      
// @media (max-width: 550px)
//  .Footer
//    flex-direction: column
//    &-left
//      order 2
//      margin-top 2rem
//    &-social
//      ul
//        width 55vw
//        margin-bottom 1rem
//    &-leyend
//      p 
//        display: none
