.Header
	background-color black
	color blue
	text-transform: uppercase
	// border-bottom 1px solid grey-c
	margin-bottom 1.5rem
	&-logo
		display flex
		align-items: center
		padding-top 8px
		h1
			margin-left .5rem
			margin-right .5rem
			padding-bottom 6px
			font-size: 1.5rem
			a 
				color blue
				text-decoration: none
			span 
				display none
				
		// span
		// 	align-self: flex-end 
	&-top
		display flex
		justify-content space-between
		align-items: center
		padding-left .5rem
		padding-right .5rem
		padding-bottom 6px
	&-navResponse
		background-color black-clear
		position absolute
		right -100%
		top 50px
		transition .5s
		width 100%
		text-align center
		z-index: 5
	&-label2
		position absolute
		// padding-right .5rem
		// padding .5rem
		right 0
		bottom -2rem
		background-color black-clear
	&-label 
		.icon-menu 
			font-size 2rem
		
	&-list
		li 
			padding-top .5rem
			padding-bottom .5rem
			border-top 1px solid #2B2A2A
			border-bottom 1px solid black
		a
			font-size: 1.2rem 
			text-decoration: none
			color white
			font-weight: 400
			text-transform: lowercase
		a:hover
			color blue
			// border-bottom 1px solid white
	&-menu
		.check	
			display none		
			&:checked~
				.Header-navResponse
					position absolute
					right 0%
				    transition .5s	
				    z-index 3
		&_desktop			
			display none
			.Header-list
				display flex
				
			    
.menu-item-192
	position: relative
	ul 
		display none
		position absolute
		bottom -10rem
		right 0
		left 0
		margin-left auto
		margin-right auto
		z-index: 22
		width 150px
		background-color black
.sub-menu
	display none
		

@media (min-width: 900px)
	.Header
		&-logo
			h1
				font-size: 2em
				span
					font-size: 1rem
					display inline-block

@media (min-width: 700px)
	.Header
		&-navResponse
			display none
		&-menu_desktop
			// display block
			display flex
			li 
				border-top 1px solid transparent
				border-bottom 1px solid transparent
				margin-left 1rem
			a 
				font-size: 1rem			
		&-label 
			display none
		&-label2
			.icon-close
				display none
				
@media (min-width: 900px)

	.Header
		margin-bottom 0














