.Image
	position: relative
	margin-bottom 3rem
	display none
	overflow: hidden
	h3
		position absolute
		background-color alpha(blue, .7)
		right 0
		bottom 0
		// font-size: 2rem
		font-size: 2rem
		color white
		font-weight: 300
		// font-family: 'Courgette', cursive
		// font-family: arial
		// text-transform: uppercase
		z-index: 20
	&-map
		position absolute
		background-color alpha(black, .7)
		height: 98%
		z-index: 50
		width 30%

		span
			display: block
			margin-bottom 3rem
			margin-top 3rem
			color white
			font-weight: 700
			z-index: 50
		strong
			font-family: Lato
	figure
		width: 100vw
		margin: 0
	img
		width: 100vw	
	&-background
		position: absolute
		height: 100%
		width: 100vw
		top 0
		right: 0
		left 0
		background-color alpha(blue-d, .8)
		z-index: 20
		
@media (min-width: 700px)
	.Image
		display: block
		
@media (min-width: 950px)
	.Image
		h2
			font-size: 3rem

