.Index
	display: flex
	flex-direction: column
	&-section	
		display: flex
		flex-wrap: wrap
		width 95%
		
	&-article
		width: 90vw
		margin 0 auto
		position: relative
		margin-left 1rem
		margin-bottom 4rem
		background-color white-d
		padding .5rem
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
		transition: all 0.2s ease-in-out
		a 
			text-decoration: none
	&-article:hover
			box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	&-title
		margin-top .5rem
		margin-bottom .5rem
		font-size: 1.5rem
		a 
			color blue
		
	&-excerpt
		color black
	&-data 
		display: flex 
		justify-content: space-between
		background-color alpha(blue,.1)
		padding .2rem
		align-items: center
	&-content
		a 
			color black-clear
		p 
			margin 0
	&-sidebar 
		width 90vw
		display: flex 
		justify-content: space-between
		margin 0 auto
		margin-bottom 2rem
	&-podcast
		display block
	&-dev
		width 100%
		padding-left 1rem
		margin 0 auto
		display: block
		p 
			color black
.widget
	// width 30%
	margin-bottom 1.5rem	
.widget_tag_cloud 
	a
		font-size: 1.2rem !important
		text-decoration none
		color white 
		background-color blue
		margin-right: .3rem !important
		line-height: 1.6
.widgettitle
	border-bottom 1px solid grey-c
	margin-bottom 1rem
	margin-right 1.5rem
	// margin-top 1.5rem
	padding-bottom .5rem

.page_item
.cat-item
	margin-bottom .5rem
	a 
		text-decoration: none
		color grey
		font-size: 1.2rem
		
	a:hover
		background-color grey-c


@media (min-width: 600px)
	.Index
		flex-direction: row
		justify-content: space-between
		&-sidebar 
			width 25vw
			flex-direction: column
			justify-content: flex-start
		&-section	
			width 75%
		&-article
			width: 60vw
		.widget
			width 95%		

@media (min-width: 700px)
	.Index		
		&-title
			font-size: 2.5rem
		&-article
			width: 30vw
			
@media (min-width: 900px)
	.Index
		&-podcast
			display none
		&-dev
			display: none

	
		