.Index
	display: flex
	justify-content: space-between
	&-section	
		display: flex
		flex-wrap: wrap
	&-article
		width: 35vw
		position: relative
		margin-left 2rem
		margin-bottom 4rem
		a 
			text-decoration: none
	
	&-title
		color blue
	&-excerpt
		color black
		
		// &_content
		// 	margin auto
		// 	padding-bottom 25px
		
		
		// height: 300px
		// overflow: hidden
		// position: relative
		// cursor: pointer
			
.widget_tag_cloud 
	a
		font-size: 1.2rem !important
		text-decoration none
		color white 
		background-color blue
		margin-right: .3rem !important
		line-height: 1.6
.widgettitle
	margin-bottom .5rem


@media (min-width: 700px)
	.Index
		
		&-title
			font-size: 2.5rem
	
		