.Single
	margin-left 2rem
	margin-top 2rem
	margin-right .5rem
	display: flex
	justify-content: space-between
	&-section 
		width 65vw
	&-sidebar
		width 25vw !important
		// margin-left 2rem
	.comment-author
		padding-bottom 1rem
	.comment-meta 
		// background-color #e6e6e6
		font-size .8rem
	// .comment-edit-link
	.comment-body
		border-bottom 2px solid blue-d
		margin-bottom 1rem
	.reply
		margin-bottom 1rem
	.commentlist
		background-color #fff
		padding .5rem
	&-header
		.Header
			position: relative
	&-comments
		padding-top 40px
		// width: 70%
		// margin-right auto
		a 
			color blue-d
			// background-color #e6e6e6
			text-decoration: underline
			margin-bottom 1rem
		h3
			background-color grey-c
			color #efefef
			font-weight: 300
		ol
			padding-left 0
		img
		cite
		span
			vertical-align: middle
			margin-left 1rem
			font-size: 1.2rem
		span 
			font-weight: 600
		textarea
			width 100%