/*! Theme Name: Pandablog
Theme URI: http://blog.pandawebs.com
Author: Agustin Palmieri
Author URI: agustinpalmieri.com
Description: Blog de Pandawebs
Version: 1.0.0*/


black = #010101
black-clear = #1d1d1d

white = #F2F2F2
white-d = #EBEBEB

blue = #0080ff

facebook = #3b5998
twitter = #00aced
google = #d34836
youtube = #e52d27
