.CatTag
	display: flex
	justify-content: space-between
	min-height 100vh
	margin-bottom auto
	.article
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		margin-bottom auto

	h1 
		color blue
		margin 2rem
	&-section
		
		width 70%
		
	&-sidebar 
		width: 20%
	